*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table{
    border-collapse: collapse;
    width: 55%;
}

th, td{
    text-align: left;
    padding: 8px;
}

th{
    background-color: black;
    color:yellow;
}

tr:nth-child(even){
    background-color: greenyellow;
}